<html>
<header>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Employee Self Service</title>
</header>
<body color=Red>
	<table align=left cellspacing=30 background="@SPLASHIDPSERVER@/authn/img/employee_self_service.gif" height=672 width=912>
	    <tbody>
	    	<tr>
	    		<td vAlign=top noWrap align=right style="font-size:16px;font-family:verdana;color:Wheat">User: @SPLASHUSER@</td>
	    	</tr>
	    </tbody>
	</table>
</body>
</html>
