<html>
<head>
<title>Intel SSO Demo</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- ImageReady Slices (ACME_webpages_rev.psd) -->
<table id="Table_01" width="1000" height="768" border="0" cellpadding="0" cellspacing="0">
	<tr>
	    <td colspan="5">
	        <table align=center width=1000 height="82" background="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_01.jpg">
       			<tr>
          		<td>
	         		<div align="left" style="font-size:80%;font-family:verdana;color:white;margin-left:40px;">
                	<span><b>@SPLASHUSER@</b></span>
                	<a id="LogoutID" href="@SESSION_PAGE@"><span id="idSIT"><b>@SESSION_STATE@</b></span></a>
                    </div>
	            </td>
	            </tr>
	        </table>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_02.jpg" width="1000" height="77" alt=""></td>
	</tr>
	<tr>
		<td>
			<img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_03.jpg" width="113" height="127" alt=""></td>
		<!-- My Expense -->
		<td>
		<a id="MyExpenseID" href="@MYEXPENSEADDR@" target="_blank"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_04.jpg" width="219" height="127" border=0></a></td>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_05.jpg" width="58" height="127" alt=""></td>
		<!-- Gmail -->
		<td><a id="GMailID" href="http://mail.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_06.jpg" width="221" height="127" border=0></a></td>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_07.jpg" width="389" height="127" alt=""></td>
	</tr>
	<tr>
		<td colspan="3"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_08.jpg" width="390" height="87" alt=""></td>
		<!-- calendar -->
		<td><a id="GCalendarID" href="http://calendar.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_09.jpg" width="221" height="87" border=0></a></td>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_10.jpg" width="389" height="87" alt=""></td>
	</tr>
	<tr>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_11.jpg" width="113" height="126" alt=""></td>
		<td><a id="ESSID" href="@ESSADDR@" target="_blank"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_12.jpg" width="219" height="126" border=0></a></td>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_13.jpg" width="58" height="126" alt=""></td>
		<td><a id="SalesforceID" href="@SALESFORCEIDPINITSSO@" target="_blank"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_14.jpg" width="221" height="126" border=0></a></td>
		<td><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_15.jpg" width="389" height="126" border=0></td>
	</tr>
	<tr>
		<td colspan="5"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_16.jpg" width="1000" height="194" alt=""></td>
	</tr>
	<tr>
		<td colspan="5"><img src="@SPLASHIDPSERVER@/authn/img/ACME_webpages_rev_17.jpg" width="1000" height="75" alt=""></td>
	</tr>
</table>
<!-- End ImageReady Slices -->
</body>
</html>