<html>
<header>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>My Expense</title>
</header>
<body color=Red>
	<table align=left cellspacing=30 background="@SPLASHIDPSERVER@/authn/img/my_expense_home.gif" height=604 width=1035>
	    <tbody>
	    	<tr>
	    		<td vAlign=top noWrap align=right style="font-size:16px;font-family:verdana;color:Wheat">User: @SPLASHUSER@</td>
	    	</tr>
	    </tbody>
	</table>
</body>
</html>
