<html>
<head>
<meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<title>Cloud Demo</title>
</head>
<body color=Red>
    <table align=center width=900>
       <tr>
          <td>
             <div align="center">
		        <h2><font color="blue">&nbsp &nbsp &nbsp  Intel SSO Demo</font></h2>
	         </div>
	      </td>
	      <td>
	         <div align="right">
                <span>@SPLASHUSER@</span>
                <a href="@SESSION_PAGE@">
        	        <span id="idSIT">@SESSION_STATE@</span>
                </a>
             </div>
	      </td>
	   </tr>
	</table>
	<hr color=Blue width=1000 align=center/><br/>
      <table align=center cellspacing=30 background="@SPLASHIDPSERVER@/identityservice/authn/img/cloud.jpg" height=500>
          <tr> <td> 
			<table height=233 width=440 background="@SPLASHIDPSERVER@/identityservice/authn/img/public_app.bmp" >  
			    <tr align=center> 
				  <td>
				      <div>
				        <a href="http://mail.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank">
				           <img class="prodimg" style="margin-bottom: 10px; margin-top: 4px;" src="http://www.google.com/apps/intl/en/images/gmail-48.png" border=0/>
				        </a>
				      </div>
				      <a href="http://mail.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank">Mail</a>  
				  </td> 
				  <td>
				      <div>
				        <a href="http://calendar.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank">
				           <img class="prodimg" style="margin-bottom: 10px; margin-top: 4px;" src="http://www.google.com/apps/intl/en/images/calendar-48.gif" border=0/>
				        </a>
				      </div>
				      <a href="http://calendar.google.com/a/@GOOGLEAPPSDOMAIN@" target="_blank">Calendar</a>
				  </td> 
				  <td>
				      <div>
				        <a href="@SALESFORCEIDPINITSSO@" target="_blank">
				           <img class="prodimg" style="margin-bottom: 10px; margin-top: 4px;" src="@SPLASHIDPSERVER@/identityservice/authn/img/sfdc_logo.gif" border=0/>
				        </a>
				      </div>
				      <a href="@SALESFORCEIDPINITSSO@" target="_blank">Salesforce</a>
				  </td> 
			    </tr> 
			</table>
		   </td> 
		   <td> </td> 
		   <td>
			<table height=233 width=440 background="@SPLASHIDPSERVER@/identityservice/authn/img/private_app.bmp" >  
			    <tr align=center> 
				  <td>
				      <div>
				        <a href="@MYEXPENSEADDR@" target="_blank">
				           <img src="@SPLASHIDPSERVER@/identityservice/authn/img/cal.gif" border=0/>
				        </a>
				      </div>
				      <a href="@MYEXPENSEADDR@" target="_blank">MyExpense</a>
				  </td> 
				  <td>
				      <div>
				      	<a href="@ESSADDR@" target="_blank">
				  	       <img src="@SPLASHIDPSERVER@/identityservice/authn/img/ess.gif" border=0>
				  	    </A>
				      </div>
				      <a href="@ESSADDR@" target="_blank">Employee Self Service</a>
				  </td> 
			    </tr> 
			</table>
               </td> 
          </tr>
	</table>
	<br/>
	<hr color=Blue width=1000 align=center/>
</body>
</html>
